<div class="card-columns" style="column-count: 4; margin-top:10px">
  <% @books.each do |book| %>
    <div class="card bg-light text-dark" style="min-height: 550px">
      <div class="card-header">
        <%= book.title %>
      </div>
      <img src="<%= image_url(book.cover) %>" class="card-img-top cover"/>
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">
          <%= book.authors.map(&:name).join(", ")%>
        </h6>
        <p class="card-text"><%= book.description.size > @max_description_length ? (book.description[0..@max_description_length - 1] + '...').capitalize : book.description.capitalize %></p>
        <%= link_to t('books.next'), book_path(book.id), class:'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>