<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">
      <%= t('books.book.details') %>
    </a>
    <a class="nav-item nav-link" id="ratings-tab" data-toggle="tab" href="#ratings" role="tab" aria-controls="ratings" aria-selected="false">
      <%= t('books.book.ratings') %>
    </a>
    <a class="nav-item nav-link" id="rentals-tab" data-toggle="tab" href="#rentals" role="tab" aria-controls="rentals" aria-selected="false">
      <%= t('books.book.rental') %>
    </a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
    <%= render 'book' %>
  </div>
  <div class="tab-pane fade" id="ratings" role="tabpanel" aria-labelledby="ratings-tab">
    <%= render 'ratings' %>
  </div>
  <div class="tab-pane fade" id="rentals" role="tabpanel" aria-labelledby="rentals-tab">gfd</div>
</div>